## Проект № 4

### Клиенты и счета

## Импортируем пакеты

In [1]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types.{DataTypes, StructField}
import org.apache.spark.sql.types._
import org.apache.spark.sql.functions._
import org.apache.spark.sql.functions.regexp_replace

Intitializing Scala interpreter ...

Spark Web UI available at http://146.120.224.166:4040
SparkContext available as 'sc' (version = 3.3.1, master = local[*], app id = local-1677965036128)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types.{DataTypes, StructField}
import org.apache.spark.sql.types._
import org.apache.spark.sql.functions._
import org.apache.spark.sql.functions.regexp_replace

## Spark сессия

In [2]:
val spark: SparkSession = SparkSession
    .builder()
    .appName("Final project #4")
    .master("local[8]")
    .getOrCreate()

23/03/04 21:24:02 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@65fe8b7e

Импортирование дополнительных пакетов

In [3]:
import spark.implicits._

import spark.implicits._

### Даты, на которые будут строится витрины

In [4]:
val dateMartDate1 = "2020-11-01"
val dateMartDate2 = "2020-11-02"
val dateMartDate3 = "2020-11-03"
val dateMartDate4 = "2020-11-04"

dateMartDate1: String = 2020-11-01
dateMartDate2: String = 2020-11-02
dateMartDate3: String = 2020-11-03
dateMartDate4: String = 2020-11-04

In [5]:
// Все витрины будут построены на общую дату dateMartDate1
val dateMartGeneral = dateMartDate4

dateMartGeneral: String = 2020-11-04

### 1. Подготовка данных

#### a) Определение схемы данных

In [6]:
// Схема данных для таблицы клиентов
val schemaClients = new StructType()
      .add("ClientId", IntegerType, false)
      .add("ClientName", StringType, false)
      .add("Type", StringType, true)
      .add("Form", StringType, true)
      .add("RegisterDate", DateType, false)

schemaClients: org.apache.spark.sql.types.StructType = StructType(StructField(ClientId,IntegerType,false),StructField(ClientName,StringType,false),StructField(Type,StringType,true),StructField(Form,StringType,true),StructField(RegisterDate,DateType,false))

In [7]:
// Схема данных для таблицы счетов
val schemaAccounts = new StructType()
      .add("AccountId", DataTypes.IntegerType, false)
      .add("AccountNum", DataTypes.StringType, false)
      .add("ClientId", DataTypes.IntegerType, false)
      .add("DateOpen", DataTypes.DateType, false)

schemaAccounts: org.apache.spark.sql.types.StructType = StructType(StructField(AccountId,IntegerType,false),StructField(AccountNum,StringType,false),StructField(ClientId,IntegerType,false),StructField(DateOpen,DateType,false))

In [8]:
// Схема данных для таблицы банковских операций 
val schemaOperations = new StructType()
      .add("AccountDB", DataTypes.IntegerType, false)
      .add("AccountCR", DataTypes.IntegerType, false)
      .add("DateOp", DataTypes.DateType, false)
      .add("Amount", DataTypes.StringType, true)
      .add("Currency", DataTypes.StringType, false)
      .add("Comment", DataTypes.StringType, true)

schemaOperations: org.apache.spark.sql.types.StructType = StructType(StructField(AccountDB,IntegerType,false),StructField(AccountCR,IntegerType,false),StructField(DateOp,DateType,false),StructField(Amount,StringType,true),StructField(Currency,StringType,false),StructField(Comment,StringType,true))

In [9]:
// Схема данных для таблицы курса валют
val schemaRates = new StructType()
      .add("Currency", StringType, false)
      .add("Rate", StringType, false)
      .add("RateDate", DateType, false)

schemaRates: org.apache.spark.sql.types.StructType = StructType(StructField(Currency,StringType,false),StructField(Rate,StringType,false),StructField(RateDate,DateType,false))

#### b) чтение  данных и загрузка данных в dataframe

In [10]:
// Считаем файл Clients.csv и запишем прочитанное в dataframe
val dfClients = spark.read.format("csv")
      .option("header", true)
      .option("multiline", true)
      .option("delimiter", ";")
      .option("dateformat","yyyy-MM-dd")
      .option("enforceSchema", true)
      .schema(schemaClients)
      .load("hdfs://localhost:9099/user/bykovsky_nikita/project_4/Clients.csv")

dfClients: org.apache.spark.sql.DataFrame = [ClientId: int, ClientName: string ... 3 more fields]

In [11]:
// Считаем файл Account.csv и запишем прочитанное в dataframe
val dfAccounts = spark.read.format("csv")
      .option("header", true)
      .option("multiline", true)
      .option("delimiter", ";")
      .option("dateformat","yyyy-MM-dd")
      .option("enforceSchema", true)
      .schema(schemaAccounts)
      .load("hdfs://localhost:9099/user/bykovsky_nikita/project_4/Account.csv")

dfAccounts: org.apache.spark.sql.DataFrame = [AccountId: int, AccountNum: string ... 2 more fields]

In [12]:
// Считаем файл Operation.csv и запишем прочитанное в dataframe
val dfOldOperations = spark.read.format("csv")
      .option("header", true)
      .option("multiline", true)
      .option("delimiter", ";")
      .option("locale", "az-AZ")
      .option("dateformat","yyyy-MM-dd")
      .schema(schemaOperations)
      .load("hdfs://localhost:9099/user/bykovsky_nikita/project_4/Operation.csv")

dfOldOperations: org.apache.spark.sql.DataFrame = [AccountDB: int, AccountCR: int ... 4 more fields]

In [13]:
// Считаем файл Rate.csv и запишем прочитанное в dataframe
val dfOldRates = spark.read.format("csv")
      .option("header", "true")
      .option("multiline", true)
      .option("delimiter", ";")
      .option("enforceSchema", true)
      .schema(schemaRates)
      .load("hdfs://localhost:9099/user/bykovsky_nikita/project_4/Rate.csv")

dfOldRates: org.apache.spark.sql.DataFrame = [Currency: string, Rate: string ... 1 more field]

#### Просмотрим содержимое dataframe'ов

In [14]:
dfClients.show()

+--------+----------+----+----+------------+
|ClientId|ClientName|Type|Form|RegisterDate|
+--------+----------+----+----+------------+
|       1|  Клиент 1|   Ф|   -|  2020-11-01|
|       2|  Клиент 2|   Ю| ООО|  2020-11-02|
|       3|  Клиент 3|   Ф|   -|  2020-11-03|
|       4|  Клиент 4|   Ю|  ИП|  2020-11-04|
|       5|  Клиент 5|   Ф|   -|  2020-11-01|
|       6|  Клиент 6|   Ю|  АО|  2020-11-02|
|       7|  Клиент 7|   Ф|   -|  2020-11-03|
|       8|  Клиент 8|   Ю| ПАО|  2020-11-01|
|       9|  Клиент 9|   Ф|   -|  2020-11-02|
|      10| Клиент 10|   Ю| ООО|  2020-11-03|
|      11| Клиент 11|   Ф|   -|  2020-11-04|
|      12| Клиент 12|   Ю|  ИП|  2020-11-01|
|      13| Клиент 13|   Ф|   -|  2020-11-02|
|      14| Клиент 14|   Ю|  АО|  2020-11-03|
|      15| Клиент 15|   Ф|   -|  2020-11-01|
|      16| Клиент 16|   Ю| ПАО|  2020-11-02|
|      17| Клиент 17|   Ф|   -|  2020-11-03|
|      18| Клиент 18|   Ю| ООО|  2020-11-04|
|      19| Клиент 19|   Ф|   -|  2020-11-01|
|      20| Клиент 20|   Ю|  ИП|  2020-11-02|
+--------+----------+----+----+------------+
only showing top 20 rows

In [15]:
dfAccounts.show()

+---------+--------------------+--------+----------+
|AccountId|          AccountNum|ClientId|  DateOpen|
+---------+--------------------+--------+----------+
|        1|40702810927050000337|       1|2020-11-01|
|        2|40802810300000009067|       2|2020-11-02|
|        3|40802810300000009708|       3|2020-11-03|
|        4|40802810800000030701|       4|2020-11-04|
|        5|40802810300000011071|       5|2020-11-01|
|        6|40802810100000063339|       6|2020-11-02|
|        7|40702810823620000031|       7|2020-11-03|
|        8|40802810409260005894|       8|2020-11-04|
|        9|40802810905030000004|       9|2020-11-01|
|       10|40802810400020001097|      10|2020-11-02|
|       11|40702810717060008427|      11|2020-11-03|
|       12|40702810836260000957|      12|2020-11-04|
|       13|40702810000000150277|      13|2020-11-01|
|       14|40702810200000145833|      14|2020-11-02|
|       15|40702810200000145891|      15|2020-11-03|
|       16|40702810400000099734|      16|2020-11-04|
|       17|40702810600000057437|      17|2020-11-01|
|       18|40702810472000008818|      18|2020-11-02|
|       19|40702810400000100092|      19|2020-11-03|
|       20|40702810473000000378|      20|2020-11-04|
+---------+--------------------+--------+----------+
only showing top 20 rows

In [16]:
// Изменен разделитель целой и дробной части с "," на "."
val dfOperations = dfOldOperations.withColumn("Amount", regexp_replace($"Amount", ",", ".").cast(DoubleType))

dfOperations: org.apache.spark.sql.DataFrame = [AccountDB: int, AccountCR: int ... 4 more fields]

In [17]:
dfOperations.show()

+---------+---------+----------+------+--------+--------------------+
|AccountDB|AccountCR|    DateOp|Amount|Currency|             Comment|
+---------+---------+----------+------+--------+--------------------+
|        1|     4999|2020-11-01|   0.1|     RUB|а/м, а\м, автомоб...|
|        2|     5000|2020-11-02|   0.2|     USD| сою, соя, зерно,...|
|        3|     5001|2020-11-03|   0.3|      EU|сигар, табачн, та...|
|        4|     5002|2020-11-04|   0.4|     RUB|гсм, бензин, керо...|
|        5|     5003|2020-11-01|   0.5|     USD|компью, монитор, ...|
|        6|     5004|2020-11-02|   0.6|      EU|ювелир,  юв., лом...|
|        7|     5005|2020-11-03|   0.7|     RUB|хоз, бытхим, подг...|
|        8|     5006|2020-11-04|   0.8|     USD|турусл, турист, з...|
|        9|     5007|2020-11-01|   0.9|      EU|торгвыруч, оплату...|
|       10|     5008|2020-11-02|   1.0|     RUB|а/м, а\м, автомоб...|
|       11|     5009|2020-11-03|   1.1|     USD| сою, соя, зерно,...|
|       12|     5010|2020-11-04|   1.2|      EU|сигар, табачн, та...|
|       13|     5011|2020-11-01|   1.3|     RUB|гсм, бензин, керо...|
|       14|     5012|2020-11-02|   1.4|     USD|компью, монитор, ...|
|       15|     5013|2020-11-03|   1.5|      EU|ювелир,  юв., лом...|
|       16|     5014|2020-11-04|   1.6|     RUB|хоз, бытхим, подг...|
|       17|     5015|2020-11-01|   1.7|     USD|турусл, турист, з...|
|       18|     5016|2020-11-02|   1.8|      EU|торгвыруч, оплату...|
|       19|     5017|2020-11-03|   1.9|     RUB|а/м, а\м, автомоб...|
|       20|     5018|2020-11-04|   2.0|     USD| сою, соя, зерно,...|
+---------+---------+----------+------+--------+--------------------+
only showing top 20 rows

In [18]:
// Изменен разделитель целой и дробной части с "," на "."
val dfRates = dfOldRates.withColumn("Rate", regexp_replace($"Rate", ",", ".").cast(DoubleType))

dfRates: org.apache.spark.sql.DataFrame = [Currency: string, Rate: double ... 1 more field]

In [19]:
dfRates.show()

+--------+-----+----------+
|Currency| Rate|  RateDate|
+--------+-----+----------+
|     USD|80.23|2020-01-01|
|      EU|91.27|2020-01-01|
|     RUB|  1.0|2020-01-01|
|     USD|80.23|2020-01-02|
|      EU|91.27|2020-01-02|
|     RUB|  1.0|2020-01-02|
+--------+-----+----------+

#### Считываем файл со Списками 1 и 2

In [20]:
// Определим схему данных для локальной базы данных
val schemaLists = new StructType()
      .add("id", IntegerType, false)
      .add("list", StringType, false)

schemaLists: org.apache.spark.sql.types.StructType = StructType(StructField(id,IntegerType,false),StructField(list,StringType,false))

In [21]:
// Файл со списками находится локально
val dfLists = spark.read.format("csv")
        .option("header", "true")
        .option("multiline", true)
        .option("sep", ";")
        .option("enforceSchema", true)
        .schema(schemaLists)
        .load("Lists.csv")

dfLists: org.apache.spark.sql.DataFrame = [id: int, list: string]

In [22]:
dfLists.show()

+---+--------------------+
| id|                list|
+---+--------------------+
|  1|%а/м%, %а\м%, %ав...|
|  2|%сою%, %соя%, %зе...|
+---+--------------------+

#### d) Делаем join таблицы клиентов, счетов и operations

In [23]:
val clientsAccountsOperations = dfOperations
  .join(
    dfClients.join(dfAccounts, "ClientId")
      .select(
        $"ClientId".as("ClientDB"),
        $"AccountId".as("AccDB"),
        $"AccountNum".as("NumDB"),
        $"Type".as("TypeDB"),
        $"Form".as("FormDB")
      ),
    $"AccDB" === $"AccountDB" || $"AccDB" === $"AccountCR",
    joinType = "left"
  )
  .join(
    dfClients.join(dfAccounts, "ClientId")
      .select(
        $"ClientId".as("ClientCR"),
        $"AccountId".as("AccCR"),
        $"AccountNum".as("NumCR"),
        $"Type".as("TypeCR"),
        $"Form".as("FormCR")
      ),
    $"AccCR" === $"AccountCR",
    joinType = "left"
  )

clientsAccountsOperations: org.apache.spark.sql.DataFrame = [AccountDB: int, AccountCR: int ... 14 more fields]

In [24]:
clientsAccountsOperations.show()

+---------+---------+----------+------+--------+--------------------+--------+-----+--------------------+------+------+--------+-----+--------------------+------+------+
|AccountDB|AccountCR|    DateOp|Amount|Currency|             Comment|ClientDB|AccDB|               NumDB|TypeDB|FormDB|ClientCR|AccCR|               NumCR|TypeCR|FormCR|
+---------+---------+----------+------+--------+--------------------+--------+-----+--------------------+------+------+--------+-----+--------------------+------+------+
|        8|     5006|2020-11-04|   0.8|     USD|турусл, турист, з...|       8|    8|40802810409260005894|     Ю|   ПАО|    5006| 5006|40702810020270000072|     Ю|    АО|
|        8|     5006|2020-11-04|   0.8|     USD|турусл, турист, з...|    5006| 5006|40702810020270000072|     Ю|    АО|    5006| 5006|40702810020270000072|     Ю|    АО|
|        5|     5003|2020-11-01|   0.5|     USD|компью, монитор, ...|       5|    5|40802810300000011071|     Ф|     -|    5003| 5003|40802810520270000061|     Ф|     -|
|        5|     5003|2020-11-01|   0.5|     USD|компью, монитор, ...|    5003| 5003|40802810520270000061|     Ф|     -|    5003| 5003|40802810520270000061|     Ф|     -|
|        2|     5000|2020-11-02|   0.2|     USD| сою, соя, зерно,...|       2|    2|40802810300000009067|     Ю|   ООО|    5000| 5000|40802810311150000183|     Ю|   ПАО|
|        2|     5000|2020-11-02|   0.2|     USD| сою, соя, зерно,...|    5000| 5000|40802810311150000183|     Ю|   ПАО|    5000| 5000|40802810311150000183|     Ю|   ПАО|
|        3|     5001|2020-11-03|   0.3|      EU|сигар, табачн, та...|       3|    3|40802810300000009708|     Ф|     -|    5001| 5001|40702810326030000178|     Ф|     -|
|        3|     5001|2020-11-03|   0.3|      EU|сигар, табачн, та...|    5001| 5001|40702810326030000178|     Ф|     -|    5001| 5001|40702810326030000178|     Ф|     -|
|        6|     5004|2020-11-02|   0.6|      EU|ювелир,  юв., лом...|       6|    6|40802810100000063339|     Ю|    АО|    5004| 5004|40702810623050000084|     Ю|    ИП|
|        6|     5004|2020-11-02|   0.6|      EU|ювелир,  юв., лом...|    5004| 5004|40702810623050000084|     Ю|    ИП|    5004| 5004|40702810623050000084|     Ю|    ИП|
|        1|     4999|2020-11-01|   0.1|     RUB|а/м, а\м, автомоб...|       1|    1|40702810927050000337|     Ф|     -|    4999| 4999|40802810147180000076|     Ф|     -|
|        1|     4999|2020-11-01|   0.1|     RUB|а/м, а\м, автомоб...|    4999| 4999|40802810147180000076|     Ф|     -|    4999| 4999|40802810147180000076|     Ф|     -|
|       10|     5008|2020-11-02|   1.0|     RUB|а/м, а\м, автомоб...|      10|   10|40802810400020001097|     Ю|   ООО|    5008| 5008|40802810610450000337|     Ю|   ПАО|
|       10|     5008|2020-11-02|   1.0|     RUB|а/м, а\м, автомоб...|    5008| 5008|40802810610450000337|     Ю|   ПАО|    5008| 5008|40802810610450000337|     Ю|   ПАО|
|        9|     5007|2020-11-01|   0.9|      EU|торгвыруч, оплату...|       9|    9|40802810905030000004|     Ф|     -|    5007| 5007|40702810320640000569|     Ф|     -|
|        9|     5007|2020-11-01|   0.9|      EU|торгвыруч, оплату...|    5007| 5007|40702810320640000569|     Ф|     -|    5007| 5007|40702810320640000569|     Ф|     -|
|        7|     5005|2020-11-03|   0.7|     RUB|хоз, бытхим, подг...|       7|    7|40702810823620000031|     Ф|     -|    5005| 5005|40702810120240000822|     Ф|     -|
|        7|     5005|2020-11-03|   0.7|     RUB|хоз, бытхим, подг...|    5005| 5005|40702810120240000822|     Ф|     -|    5005| 5005|40702810120240000822|     Ф|     -|
|       11|     5009|2020-11-03|   1.1|     USD| сою, соя, зерно,...|      11|   11|40702810717060008427|     Ф|     -|    5009| 5009|40802810120070000329|     Ф|     -|
|        4|     5002|2020-11-04|   0.4|     RUB|гсм, бензин, керо...|       4|    4|40802810800000030701|     Ю|    ИП|    5002| 5002|40702810520020000052|     Ю|   ООО|
+---------+---------+----------+------+--------+--------------------+--------+-----+--------------------+------+------+--------+-----+--------------------+------+------+
only showing top 20 rows

#### f) Делаем join таблицы operation и курсов валют

In [25]:
// Определим курс на последнюю дату
val lastRate = dfRates.filter($"RateDate" === dfRates.select(max($"RateDate")).first().get(0))
  .select($"Currency", $"Rate")

lastRate: org.apache.spark.sql.DataFrame = [Currency: string, Rate: double]

In [26]:
// Сформируем результирующую таблицу с приведением рублевых сумм
val clientsAccountsOperationsRate = clientsAccountsOperations
  .join(lastRate, clientsAccountsOperations("Currency") === lastRate("Currency"), "left")
  .withColumn("AmountRUB", round(col("Amount") * col("Rate"), 2))
  .where($"DateOp" === dateMartGeneral)

clientsAccountsOperationsRate: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [AccountDB: int, AccountCR: int ... 17 more fields]

In [27]:
clientsAccountsOperationsRate.show()

+---------+---------+----------+------+--------+--------------------+--------+-----+--------------------+------+------+--------+-----+--------------------+------+------+--------+-----+---------+
|AccountDB|AccountCR|    DateOp|Amount|Currency|             Comment|ClientDB|AccDB|               NumDB|TypeDB|FormDB|ClientCR|AccCR|               NumCR|TypeCR|FormCR|Currency| Rate|AmountRUB|
+---------+---------+----------+------+--------+--------------------+--------+-----+--------------------+------+------+--------+-----+--------------------+------+------+--------+-----+---------+
|       32|     5030|2020-11-04|   3.2|     USD|компью, монитор, ...|      32|   32|40702810400060008556|     Ю|   ПАО|    5030| 5030|40702810512610000064|     Ю|    АО|     USD|80.23|   256.74|
|       32|     5030|2020-11-04|   3.2|     USD|компью, монитор, ...|    5030| 5030|40702810512610000064|     Ю|    АО|    5030| 5030|40702810512610000064|     Ю|    АО|     USD|80.23|   256.74|
|       40|     5038|2020-11-04|   4.0|     RUB|гсм, бензин, керо...|      40|   40|40702810000000113612|     Ю|   ПАО|    5038| 5038|40802810735000000233|     Ю|    АО|     RUB|  1.0|      4.0|
|       40|     5038|2020-11-04|   4.0|     RUB|гсм, бензин, керо...|    5038| 5038|40802810735000000233|     Ю|    АО|    5038| 5038|40802810735000000233|     Ю|    АО|     RUB|  1.0|      4.0|
|        8|     5006|2020-11-04|   0.8|     USD|турусл, турист, з...|       8|    8|40802810409260005894|     Ю|   ПАО|    5006| 5006|40702810020270000072|     Ю|    АО|     USD|80.23|    64.18|
|        8|     5006|2020-11-04|   0.8|     USD|турусл, турист, з...|    5006| 5006|40702810020270000072|     Ю|    АО|    5006| 5006|40702810020270000072|     Ю|    АО|     USD|80.23|    64.18|
|       44|     5042|2020-11-04|   4.4|     USD|турусл, турист, з...|      44|   44|40702810928030000013|     Ю|    ИП|    5042| 5042|40702810944410000143|     Ю|   ООО|     USD|80.23|   353.01|
|       20|     5018|2020-11-04|   2.0|     USD| сою, соя, зерно,...|      20|   20|40702810473000000378|     Ю|    ИП|    5018| 5018|40802810832260000152|     Ю|   ООО|     USD|80.23|   160.46|
|       20|     5018|2020-11-04|   2.0|     USD| сою, соя, зерно,...|    5018| 5018|40802810832260000152|     Ю|   ООО|    5018| 5018|40802810832260000152|     Ю|   ООО|     USD|80.23|   160.46|
|       12|     5010|2020-11-04|   1.2|      EU|сигар, табачн, та...|      12|   12|40702810836260000957|     Ю|    ИП|    5010| 5010|40702810024210000551|     Ю|   ООО|      EU|91.27|   109.52|
|       12|     5010|2020-11-04|   1.2|      EU|сигар, табачн, та...|    5010| 5010|40702810024210000551|     Ю|   ООО|    5010| 5010|40702810024210000551|     Ю|   ООО|      EU|91.27|   109.52|
|       24|     5022|2020-11-04|   2.4|      EU|ювелир,  юв., лом...|      24|   24|40702810812250000077|     Ю|   ПАО|    5022| 5022|40802810910560000490|     Ю|    АО|      EU|91.27|   219.05|
|       24|     5022|2020-11-04|   2.4|      EU|ювелир,  юв., лом...|    5022| 5022|40802810910560000490|     Ю|    АО|    5022| 5022|40802810910560000490|     Ю|    АО|      EU|91.27|   219.05|
|       16|     5014|2020-11-04|   1.6|     RUB|хоз, бытхим, подг...|      16|   16|40702810400000099734|     Ю|   ПАО|    5014| 5014|40702810147030000328|     Ю|    АО|     RUB|  1.0|      1.6|
|       16|     5014|2020-11-04|   1.6|     RUB|хоз, бытхим, подг...|    5014| 5014|40702810147030000328|     Ю|    АО|    5014| 5014|40702810147030000328|     Ю|    АО|     RUB|  1.0|      1.6|
|       28|     5026|2020-11-04|   2.8|     RUB|а/м, а\м, автомоб...|      28|   28|40802810300000018362|     Ю|    ИП|    5026| 5026|40703810603260000011|     Ю|   ООО|     RUB|  1.0|      2.8|
|       28|     5026|2020-11-04|   2.8|     RUB|а/м, а\м, автомоб...|    5026| 5026|40703810603260000011|     Ю|   ООО|    5026| 5026|40703810603260000011|     Ю|   ООО|     RUB|  1.0|      2.8|
|        4|     5002|2020-11-04|   0.4|     RUB|гсм, бензин, керо...|       4|    4|40802810800000030701|     Ю|    ИП|    5002| 5002|40702810520020000052|     Ю|   ООО|     RUB|  1.0|      0.4|
|        4|     5002|2020-11-04|   0.4|     RUB|гсм, бензин, керо...|    5002| 5002|40702810520020000052|     Ю|   ООО|    5002| 5002|40702810520020000052|     Ю|   ООО|     RUB|  1.0|      0.4|
|       36|     5034|2020-11-04|   3.6|      EU|торгвыруч, оплату...|      36|   36|40702810900000152139|     Ю|    ИП|    5034| 5034|40802810020110000211|     Ю|   ООО|      EU|91.27|   328.57|
+---------+---------+----------+------+--------+--------------------+--------+-----+--------------------+------+------+--------+-----+--------------------+------+------+--------+-----+---------+
only showing top 20 rows

 ## 1. Построение витрины данных #1

In [28]:
val corporatePayments = clientsAccountsOperationsRate
  .groupBy($"AccDB".as("AccountID"), $"ClientDB".as("ClientId"), $"DateOp".as("CutoffDt"))
  .agg(
    round(sum(when($"AccDB" === $"AccountDB", $"AmountRUB").otherwise(0)), 2).as("PaymentAmt"),
    round(sum(when($"AccDB" === $"AccountCR", $"AmountRUB").otherwise(0)), 2).as("EnrollmentAmt"),
    round(sum(when($"AccDB" === $"AccountDB" && $"NumCR".startsWith("40702"), $"AmountRUB").otherwise(0)), 2).as("TaxAmt"),
    round(sum(when($"AccDB" === $"AccountCR" && $"NumDB".startsWith("40802"), $"AmountRUB").otherwise(0)), 2).as("ClearAmt")
  )

corporatePayments: org.apache.spark.sql.DataFrame = [AccountID: int, ClientId: int ... 5 more fields]

In [29]:
corporatePayments.show()

+---------+--------+----------+----------+-------------+---------+---------+
|AccountID|ClientId|  CutoffDt|PaymentAmt|EnrollmentAmt|   TaxAmt| ClearAmt|
+---------+--------+----------+----------+-------------+---------+---------+
|     5238|    5238|2020-11-04|       0.0|    1362176.0|      0.0|1362176.0|
|     5554|    5554|2020-11-04|       0.0|   1254341.21|      0.0|      0.0|
|     5746|    5746|2020-11-04|       0.0|    1259424.8|      0.0|      0.0|
|      960|     960|2020-11-04| 1386944.0|          0.0|1386944.0|      0.0|
|     5994|    5994|2020-11-04|       0.0|    1388182.4|      0.0|      0.0|
|     1104|    1104|2020-11-04| 1391897.6|          0.0|1391897.6|      0.0|
|     6170|    6170|2020-11-04|       0.0|    886197.16|      0.0|      0.0|
|     1452|    1452|2020-11-04| 1403868.8|          0.0|      0.0|      0.0|
|     1544|    1544|2020-11-04| 895635.91|          0.0|895635.91|      0.0|
|     1796|    1796|2020-11-04| 902029.91|          0.0|      0.0|      0.0|
|     2016|    2016|2020-11-04| 1423270.4|          0.0|1423270.4|      0.0|
|     2268|    2268|2020-11-04| 1431939.2|          0.0|      0.0|      0.0|
|     7450|    7450|2020-11-04|       0.0|    1304541.6|      0.0|1304541.6|
|     3172|    3172|2020-11-04|1323605.04|          0.0|      0.0|      0.0|
|     3212|    3212|2020-11-04| 937958.08|          0.0|937958.08|      0.0|
|     3264|    3264|2020-11-04| 1466201.6|          0.0|1466201.6|      0.0|
|     8690|    8690|2020-11-04|       0.0|    950137.12|      0.0|      0.0|
|     8874|    8874|2020-11-04|       0.0|    1487254.4|      0.0|      0.0|
|     9066|    9066|2020-11-04|       0.0|    1493859.2|      0.0|      0.0|
|     9354|    9354|2020-11-04|       0.0|    1503766.4|      0.0|1503766.4|
+---------+--------+----------+----------+-------------+---------+---------+
only showing top 20 rows

#### Запись витрины corporatePayments в файл формата parquet

In [30]:
// Запишем витрину corporate_payments в parquet-файл
corporatePayments.write
    .format("parquet")
    .option("path", "data_marts/" + dateMartGeneral + "/corporate_payments")
    .mode("Overwrite")
    .save()

 ## 2. Построение витрины данных #2

In [31]:
val corporateAccount = corporatePayments
    .join(dfClients.join(dfAccounts, Seq("clientId"))
    .select($"AccountNum", $"AccountID", $"DateOpen", $"ClientName"), Seq("AccountID"))
    .withColumn("TotalAmt", round($"PaymentAmt" + $"EnrollmentAmt", 2))
    .select($"AccountID", $"AccountNum", $"DateOpen", $"ClientId", $"ClientName", $"TotalAmt", $"CutoffDt")
    .orderBy($"AccountID", $"CutoffDt")

corporateAccount: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [AccountID: int, AccountNum: string ... 5 more fields]

In [32]:
corporateAccount.show()

+---------+--------------------+----------+--------+----------+----------+----------+
|AccountID|          AccountNum|  DateOpen|ClientId|ClientName|  TotalAmt|  CutoffDt|
+---------+--------------------+----------+--------+----------+----------+----------+
|        3|40802810300000009708|2020-11-03|       3|  Клиент 3|1110291.49|2020-11-04|
|        4|40802810800000030701|2020-11-04|       4|  Клиент 4|1239725.91|2020-11-04|
|        7|40702810823620000031|2020-11-03|       7|  Клиент 7| 1698195.2|2020-11-04|
|        8|40802810409260005894|2020-11-04|       8|  Клиент 8| 856662.98|2020-11-04|
|       11|40702810717060008427|2020-11-03|      11| Клиент 11|1504707.72|2020-11-04|
|       12|40702810836260000957|2020-11-04|      12| Клиент 12| 1354332.8|2020-11-04|
|       15|40702810200000145891|2020-11-03|      15| Клиент 15|1110595.97|2020-11-04|
|       16|40702810400000099734|2020-11-04|      16| Клиент 16|1240043.63|2020-11-04|
|       19|40702810400000100092|2020-11-03|      19| Клиент 19| 1698608.0|2020-11-04|
|       20|40702810473000000378|2020-11-04|      20| Клиент 20| 856967.46|2020-11-04|
|       23|40802810524210000197|2020-11-03|      23| Клиент 23|1505025.45|2020-11-04|
|       24|40702810812250000077|2020-11-04|      24| Клиент 24| 1354745.6|2020-11-04|
|       27|40802810700000022408|2020-11-03|      27| Клиент 27|1110900.44|2020-11-04|
|       28|40802810300000018362|2020-11-04|      28| Клиент 28|1240361.36|2020-11-04|
|       31|40702810610650002309|2020-11-03|      31| Клиент 31| 1699020.8|2020-11-04|
|       32|40702810400060008556|2020-11-04|      32| Клиент 32| 857271.94|2020-11-04|
|       35|40702810900000134555|2020-11-03|      35| Клиент 35|1505343.17|2020-11-04|
|       36|40702810900000152139|2020-11-04|      36| Клиент 36| 1355158.4|2020-11-04|
|       39|40702810313540006946|2020-11-03|      39| Клиент 39|1111204.92|2020-11-04|
|       40|40702810000000113612|2020-11-04|      40| Клиент 40|1240679.08|2020-11-04|
+---------+--------------------+----------+--------+----------+----------+----------+
only showing top 20 rows

#### Запись витрины corporate_account в файл формата parquet

In [33]:
// Запишем витрину в parquet-файл
corporateAccount.write
    .format("parquet")
    .option("path", "data_marts/" + dateMartGeneral + "/corporate_account")
    .mode("Overwrite")
    .save()

 ## 4. Построение витрины данных #3

In [34]:
val corporateInfo = corporateAccount
    .join(dfClients.join(dfAccounts, "ClientId")
        .select($"ClientId".alias("Clid"),
                $"ClientName".alias("ClName"),
                $"Type",
                $"Form",
                $"RegisterDate"),
            $"Clid" === $"ClientId")

corporateInfo: org.apache.spark.sql.DataFrame = [AccountID: int, AccountNum: string ... 10 more fields]

In [35]:
corporateInfo.show()

+---------+--------------------+----------+--------+-----------+----------+----------+----+-----------+----+----+------------+
|AccountID|          AccountNum|  DateOpen|ClientId| ClientName|  TotalAmt|  CutoffDt|Clid|     ClName|Type|Form|RegisterDate|
+---------+--------------------+----------+--------+-----------+----------+----------+----+-----------+----+----+------------+
|     7628|40702810240420009572|2020-11-04|    7628|Клиент 7628|1050005.24|2020-11-04|7628|Клиент 7628|   Ю|  ИП|  2020-11-01|
|     7628|40702810240420009572|2020-11-04|    7628|Клиент 7628|1050005.24|2020-11-04|7628|Клиент 7628|   Ю|  ИП|  2020-11-01|
|    15996|40802810403030000247|2020-11-04|    5996|Клиент 5996| 1904182.4|2020-11-04|5996|Клиент 5996|   Ю|  ИП|  2020-11-04|
|    15996|40802810403030000247|2020-11-04|    5996|Клиент 5996| 1904182.4|2020-11-04|5996|Клиент 5996|   Ю|  ИП|  2020-11-04|
|     3843|40702810416450003609|2020-11-03|    3843|Клиент 3843|1207723.81|2020-11-04|3843|Клиент 3843|   Ф|   -|  2020-11-03|
|     3843|40702810416450003609|2020-11-03|    3843|Клиент 3843|1207723.81|2020-11-04|3843|Клиент 3843|   Ф|   -|  2020-11-03|
|     9714|40802810900000018500|2020-11-02|    9714|Клиент 9714| 1516150.4|2020-11-04|9714|Клиент 9714|   Ю| ООО|  2020-11-01|
|     9714|40802810900000018500|2020-11-02|    9714|Клиент 9714| 1516150.4|2020-11-04|9714|Клиент 9714|   Ю| ООО|  2020-11-01|
|     3212|40702810110630002900|2020-11-04|    3212|Клиент 3212| 937958.08|2020-11-04|3212|Клиент 3212|   Ю|  ИП|  2020-11-02|
|     3212|40702810110630002900|2020-11-04|    3212|Клиент 3212| 937958.08|2020-11-04|3212|Клиент 3212|   Ю|  ИП|  2020-11-02|
|    11334|40702810810570006127|2020-11-02|    1334|Клиент 1334| 1571878.4|2020-11-04|1334|Клиент 1334|   Ю|  АО|  2020-11-04|
|    11334|40702810810570006127|2020-11-02|    1334|Клиент 1334| 1571878.4|2020-11-04|1334|Клиент 1334|   Ю|  АО|  2020-11-04|
|    19788|40802810922050009233|2020-11-04|    9788|Клиент 9788| 2034627.2|2020-11-04|9788|Клиент 9788|   Ю|  ИП|  2020-11-02|
|    19788|40802810922050009233|2020-11-04|    9788|Клиент 9788| 2034627.2|2020-11-04|9788|Клиент 9788|   Ю|  ИП|  2020-11-02|
|     5238|40802810747030000178|2020-11-02|    5238|Клиент 5238| 1362176.0|2020-11-04|5238|Клиент 5238|   Ю|  АО|  2020-11-02|
|     5238|40802810747030000178|2020-11-02|    5238|Клиент 5238| 1362176.0|2020-11-04|5238|Клиент 5238|   Ю|  АО|  2020-11-02|
|     2268|40702810036060002832|2020-11-04|    2268|Клиент 2268| 1431939.2|2020-11-04|2268|Клиент 2268|   Ю|  ИП|  2020-11-03|
|     2268|40702810036060002832|2020-11-04|    2268|Клиент 2268| 1431939.2|2020-11-04|2268|Клиент 2268|   Ю|  ИП|  2020-11-03|
|    13498|40802810529060019164|2020-11-02|    3498|Клиент 3498| 1464674.5|2020-11-04|3498|Клиент 3498|   Ю| ООО|  2020-11-01|
|    13498|40802810529060019164|2020-11-02|    3498|Клиент 3498| 1464674.5|2020-11-04|3498|Клиент 3498|   Ю| ООО|  2020-11-01|
+---------+--------------------+----------+--------+-----------+----------+----------+----+-----------+----+----+------------+
only showing top 20 rows

#### Запись витрины corporateInfo в файл формата parquet

In [36]:
corporateInfo.write
    .format("parquet")
    .option("path", "data_marts/" + dateMartGeneral + "/corporate_info")
    .mode("Overwrite")
    .save()

In [37]:
spark.stop